<p id="notice"><%= notice %></p>

<h3>Your Pragmatic Cart</h3>
<table class="table table-striped">
  <% @cart.line_items.each do |item| %>
  <tr>
    <td><%= item.quantity %> &times;</td>
    <td><%= item.product.title %></td>
    <td><%= number_to_currency(item.total_price) %></td>
  </tr>
  <% end %>
  <tr>
    <td colspan="2" style="text-align:right; font-weight:bold;">Total</td>
    <td class="info"><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</table>

<br>
<%= button_to 'Empty cart', @cart, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-sm' %>
