<!DOCTYPE html>
<html>
  <head>
    <title>DepotA</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <div class="page-header">
        <h1>The Pragmatic Bookshelf</h1>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              Your Cart
            </div>
            <div class="panel-body" id="cart">
              <% if @cart %>
                <%= render @cart %>
              <% end %>
            </div>
          </div>
          <div class="list-group">
            <a href="#" class="list-group-item">Home</a>
            <a href="#" class="list-group-item">Questions</a>
            <a href="#" class="list-group-item">News</a>
            <a href="#" class="list-group-item">Contact</a>
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
